# Ignora archivos del sistema Mac 
.DS_store
Services
# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache
# Ignora archivos de configuración package-lock.json
package-lock.json
# Ignora archivos de configuración package.json

package.json
